
{{#if isConfirmed}}
<form method="POST" action="/register/{{seminarId}}/complete">
  <input type="text" name="firstname">First Name</input>
  <input type="text" name="lastname">Last Name</input>
  <input type="text" name="email" >Email</input>
  <button> Submit </button>
{{else}}

{{#if isStudent}}
<p>Log in to confirm you are a student
<form method="POST" action="/register/{{seminarId}}/utsLogin">
  <input type="text" name="studentId" placeholder="Student ID">
  <input type="password" name="password" placeholder="password">
  <button> Submit </button>
</form>


{{else}}

{{#if isVisitor}}

  <p>Send an email to the organiser to register

{{else}}
  <form method="POST" action="/register/{{seminarId}}/registerHandle">
    <p>Are you a UTS student or Visitor?</p>
    <input type="radio" name="userType" value="uts">UTS Student<br>
    <input type="radio" name="userType" value="visitor">Visitor<br>
    <button> Submit </button>
  </form>
{{/if}}
{{/if}}
{{/if}}
