
<h1>{{items.title}}</h1>
{{items.organiser}}
{{items.date}}
{{items.time}}
{{items.location}}
{{items.description}}
<br>
<br>
<a href='/seminars'>Go back</a>
{{#if isOrganiser}}
<form method="POST" action="/editSeminar">
  <button value = "{{items._id}}" name="edit">Edit Details</button>
</form>
{{/if}}

{{#if isEditing}}
  <form method="POST" action="/confirmEdit">
    Title<input type="text" value="{{items.title}}" name="title">
    Date<input type="text" value="{{items.date}}"name="date">
    Time<input type="text" value="{{items.time}}"name="time">
    Location<input type="text" value="{{items.location}}" name="location">
    Description<input type="text" value="{{items.description}}" name="description">
    <button name ="submit" value="{{items._id}}">Confirm Changes</button>
  </form>
{{/if}}
