
<h1>{{items.title}}</h1>
Organiser: {{items.organiser}}
<br>
Date: {{items.date}}
<br>
Time: {{items.time}}
<br>
Location: {{items.location}}
<br>
Description: {{items.description}}
<br>
<br>
<a href='/seminars'>Go back</a>
{{#if isOrganiser}}
<form method="POST" action="/editSeminar">
  <button value = "{{items._id}}" name="edit">Edit Details</button>
</form>
{{/if}}

{{#if isEditing}}
  <form method="POST" action="/confirmEdit">
    Title<input type="text" value="{{items.title}}" name="title">
    Organiser<input type="text" value="{{items.organiser}}" name="organiser">
    Speaker<input type="text" value="{{items.speaker}}" name="speaker">
    Speaker Bio<input type="text" value ="{{items.speaker_bio}}" name="bio">
    Date<input type="text" value="{{items.date}}"name="date">
    Time<input type="text" value="{{items.time}}"name="time">
    Location<input type="text" value="{{items.location}}" name="location">
    Description<input type="text" value="{{items.description}}" name="description">
    <button name ="submit" value="{{items._id}}">Confirm Changes</button>
  </form>
{{/if}}
