<head>
<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<header>
<ul>
  <li><a href="/management">UTS SEMINAR MANAGEMENT</a></li>
  <li style="float:right"><a href="/logout">Log Out</a></li>
  <li style="float:right">Logged in as: {{username}}</li>
</ul>
<header>

{{#if isEdit}}
<form method="POST" action="/changeDetails">
  First Name<input type="text" name="firstName">
  Last Name<input type="text" name="lastName">
  Email<input type="text" name="attendeeEmail">
  <button> Change Details </button>
  </form>


{{else}}
    Hello {{item.firstname}}, here are your current registration details. <br>
    <br>


    First Name: {{item.firstname}} <br>
    Last Name: {{item.lastname}} <br>
    Email: {{item.email}} <br>
    <br>
    <table border="2">
      <tr>
        <th>Seminar name</th><th>Speaker</th><th>Currently</th><th>Action</th>
      </tr>
      <tr>

    <form method="POST" action="/changeStatus">
    {{#each seminars}}
      <tr>
      <td>{{title}}</td>
      <td>{{speaker}}</td>
      <td>{{attendees.[index].status}}</td>
      <td><select name = "selection">
            <option value="register">Register</option>
            <option value="interest">Show Interest</option>
            <option value="remove">Unregister</option>
          </select>
          <button name="submit" value ="{{_id}}">Submit</button></td>
      </tr>
    {{/each}}
    Options:
    <form method="POST" action="/editSelf">
      <button value = "{{item._id}}" name="edit">Edit Details</button>
      </form>
{{/if}}
